<?xml version="1.0" encoding="UTF-8"?>
<web-app >
	<servlet>
    	<servlet-name>Apply</servlet-name>
    	<servlet-class>com.chuangxin.Apply</servlet-class>
  	</servlet>
	<servlet>
    	<servlet-name>BeFriend</servlet-name>
    	<servlet-class>com.chuangxin.BeFriend</servlet-class>
  	</servlet>
	<servlet>
    	<servlet-name>DeleteFriend</servlet-name>
    	<servlet-class>com.chuangxin.DeleteFriend</servlet-class>
  	</servlet>
	<servlet>
    	<servlet-name>Get</servlet-name>
    	<servlet-class>com.chuangxin.Get</servlet-class>
  	</servlet>
	<servlet>
    	<servlet-name>HaveApplicant</servlet-name>
    	<servlet-class>com.chuangxin.HaveApplicant</servlet-class>
  	</servlet>
	<servlet>
    	<servlet-name>Login</servlet-name>
    	<servlet-class>com.chuangxin.Login</servlet-class>
  	</servlet>
	<servlet>
    	<servlet-name>MyFriends</servlet-name>
    	<servlet-class>com.chuangxin.MyFriends</servlet-class>
  	</servlet>
	<servlet>
    	<servlet-name>PasswordRetrieve</servlet-name>
    	<servlet-class>com.chuangxin.PasswordRetrieve</servlet-class>
  	</servlet>
	<servlet>
    	<servlet-name>Read</servlet-name>
    	<servlet-class>com.chuangxin.Read</servlet-class>
  	</servlet>
	<servlet>
    	<servlet-name>Register</servlet-name>
    	<servlet-class>com.chuangxin.Register</servlet-class>
  	</servlet>
	<servlet>
    	<servlet-name>ShowHead</servlet-name>
    	<servlet-class>com.chuangxin.ShowHead</servlet-class>
  	</servlet>
  	<servlet>
  		<servlet-name>UpdateDownload</servlet-name>
  		<servlet-class>com.chuangxin.UpdateDownload</servlet-class>
  	</servlet>
	<servlet>
    	<servlet-name>UploadHead</servlet-name>
    	<servlet-class>com.chuangxin.UploadHead</servlet-class>
  	</servlet>
	<servlet>
    	<servlet-name>Xiaxian</servlet-name>
    	<servlet-class>com.chuangxin.Xiaxian</servlet-class>
  	</servlet>
  	
  	<servlet-mapping>
    	<servlet-name>Apply</servlet-name>
    	<url-pattern>/CXSJ/Apply</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  			<servlet-name>BeFriend</servlet-name>
  			<url-pattern>/CXSJ/BeFriend</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  			<servlet-name>DeleteFriend</servlet-name>
  			<url-pattern>/CXSJ/DeleteFriend</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  			<servlet-name>Get</servlet-name>
  			<url-pattern>/CXSJ/Get</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  			<servlet-name>HaveApplicant</servlet-name>
  			<url-pattern>/CXSJ/HaveApplicant</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>Login</servlet-name>
    	<url-pattern>/CXSJ/Login</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>MyFriends</servlet-name>
    	<url-pattern>/CXSJ/MyFriends</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
    	<servlet-name>PasswordRetrieve</servlet-name>
    	<url-pattern>/CXSJ/PasswordRetrieve</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>Read</servlet-name>
  		<url-pattern>/CXSJ/Read</url-pattern>
  	</servlet-mapping>
  	<servlet-mapping>
  		<servlet-name>Register</servlet-name>
  		<url-pattern>/CXSJ/Register</url-pattern>
  	</servlet-mapping>
  	  	<servlet-mapping>
  			<servlet-name>ShowHead</servlet-name>
  			<url-pattern>/CXSJ/ShowHead</url-pattern>
  		</servlet-mapping>
  		<servlet-mapping>
    	<servlet-name>UpdateDownload</servlet-name>
    	<url-pattern>/CXSJ/UpdateDownload</url-pattern>
  	</servlet-mapping>
  	  	<servlet-mapping>
  			<servlet-name>UploadHead</servlet-name>
  			<url-pattern>/CXSJ/UploadHead</url-pattern>
  		</servlet-mapping>
  	  	<servlet-mapping>
  			<servlet-name>Xiaxian</servlet-name>
  			<url-pattern>/CXSJ/Xiaxian</url-pattern>
  		</servlet-mapping>
  	  	
</web-app>